@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#home{
  margin-top: 5rem;
  
}

#home p{
  font-size: 18px;
}

#services{
  margin-top: 6rem;
}
.kartu{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#273036;
  box-shadow: 5px 5px 10px #3D474B;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  height: 170px;
  color:#fff;
  text-align: center;
  font-size: 14px;
}
.card:hover{
  background-color: seagreen;
}

#skills{
  margin-top: 3rem;
  padding: 10px;
  text-align: center;
}

#contact{
  margin-top: 5rem;
  background-color: #273036;
  color: white;
  padding: 20px
}

#certificates{
  margin-top: 4rem;
  padding: 20px;
}

#certificates h3{
  margin-bottom: 2rem;
}


